@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
}

.App {
  width: 650px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* login page */

.login-page h1 {
  font-size: 2.5rem;
}

.login-div {
  border: 1px solid black;
  margin: 1rem auto 0 auto;
  padding-bottom: 1rem;
  width: 400px;
}

.login-div h2 {
  margin: 1rem;
}

.login-div input {
  margin: 0 0.5rem 0 0.5rem;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  height: 1.5rem;
  padding: 0.5rem;
}

.login-div button {
  padding: 0.2rem;
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.login-div button:hover {
  background-color: lightblue;
}

.login-div .error-div {
  color: red;
  margin-top: 1rem;
}

/* main page */

.main-div h1 {
  font-size: 3rem;
}

.main-div h2 {
  margin: 1rem;
}

.main-div .start-page {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.5rem;
}

.main-div .start-page .instruction {
  text-align: left;
  margin-bottom: 1rem;
}

.main-div .start-page .instruction h3 {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.main-div .start-page button {
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.2rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.main-div .start-page button:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}

.main-div .start-page .high-score-div .high-score-table {
  margin: 1rem auto 0 auto;
  border-collapse: collapse;
  width: 60%;
  text-align: left;
}

.main-div .start-page .high-score-div .high-score-table th,
td {
  border: 1px solid #ddd;
  padding: 0.7rem;
}

.main-div .start-page .high-score-div .high-score-table tr:hover {
  background-color: #ddd;
}

.main-div .start-page .high-score-div .high-score-table th {
  background-color: #4caf50;
  color: white;
}

/* board style */

.board-div .board-information {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto 1rem auto;
}

.board-div .timer {
  display: inline;
  border: 2px solid lightgrey;
  border-radius: 50%;
  padding: 0.4rem 0.7rem;
}

.board-div .question-div {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.board-div .question-div h4 {
  margin-bottom: 1rem;
}

.board-div .question-div ul li {
  list-style: none;
  border: 1px solid lightgreen;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.board-div .question-div ul li:hover {
  background-color: lightgreen;
}

/* after answer style */

.after-answer-div h1 {
  font-size: 2rem;
}

.after-answer-div .after-answer-information {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

.after-answer-div ul {
  margin: 1rem 0 1rem 3rem;
  list-style-position: inside;
  text-align: left;
}

.after-answer-div .rating {
  margin: 2rem;
}

.after-answer-div .rating p {
  margin-bottom: 0.5rem;
}

.after-answer-div .rating span {
  margin-right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.after-answer-div .rating span:hover {
  position: relative;
  top: -5px;
}

.after-answer-div button {
  float: left;
  margin-left: 3rem;
  padding: 0.2rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.after-answer-div button:hover {
  background-color: black;
  color: white;
}
